@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*layover style*/
.lay1 {
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 1);
  height: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  position: absolute;
  display: none;
  transform: translateX(-120%);
  transform: translateY(-120%);
  transition: all 0.25s ease-in-out;
}
.active-layover {
  display: flex;
  transform: translateX(0);
  transform: translateY(0);
  transition: all 0.25s ease-in-out;
}
.lay1 > .exit {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}
.lay2 {
  width: 1046px;
  display: flex;
  margin-top: 86px;
}
.lay2 > .NL-img > img {
  width: 520px;
}
.lay2 > .NL-sub {
  display: flex;
  flex-direction: column;
  margin-left: -8px;
}
.lay2 > .NL-sub > h4 {
  font-size: 50px;
  /* line-height: 42px; */
}
.lay2 > .NL-sub > p {
  font-size: 26px;
  margin-bottom: 28px;
}
.NL-sub > form {
  display: flex;
  flex-direction: column;
}
.NL-sub > form > * {
  width: 448px;
  height: 50px;
  color: #484848;
  padding: 8px 16px;
  margin-bottom: 20px;
  border-radius: 6px;
}
.NL-sub > form > input::placeholder {
  font-size: 20px;
  color: #484848;
}
.NL-sub > form > input[type="submit"] {
  background-color: #c2341c;
  border: none;
  color: #fff;
  font-size: 20px;
}
/* modal styling */

.register > button {
  background-color: transparent;
  box-shadow: none;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  padding: 8px;
  margin-left: 20px;
  cursor: pointer;
}

.btns {
  display: flex;
}
.btn-register {
  display: none;
}
.bg-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.bg-modal.open {
  opacity: 1;
  pointer-events: all;
}

.close-btn {
  cursor: pointer;
}

.modal {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #222223;
  width: 628px;
  height: 700px;
  padding: 20px 50px;
  border-radius: 5px;
  position: relative;
}

.modal.hide {
  display: none;
}

.modal .text {
  font-size: 0.8em;
}
.modal p {
  margin-bottom: 4px;
}
.modal .text span {
  color: red;
}
.modal img {
  width: 200px;
}
.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal textarea {
  resize: none;
  width: 400px;
  margin-bottom: 10px;
  outline: none;
  font-size: 1rem;
}

.modal form input {
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal form input:enabled {
  outline: none;
}

.modal form select {
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal form select:enabled {
  outline: none;
}

.form-btn {
  text-align: right;
}

.form-btn button {
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 150px;
  font-size: 0.8rem;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-weight: bold;
}

.modal.three h2 {
  margin: -128px;
}
/*................................................
.............................

/**
header style */
body {
  font-family: "Poppins";
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  position: sticky;
  z-index: 1500;
  top: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #1c1c1c;
}
nav > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.logo > img {
  width: 108px;
  height: 40px;
}
.nav-bar > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 740px;
  height: 24px;
  justify-content: space-between;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.nav-bar > ul > li {
  text-transform: capitalize;
  transition: color 0.25s;
}
.nav-bar > ul > li > a {
  color: inherit;
  text-decoration: none;
}
.nav-bar > ul > li:hover,
.nav-bar > ul > li:active {
  color: rgba(194, 52, 28, 1);
  cursor: pointer;
}
.news-letter > button {
  background-image: linear-gradient(180deg, #08070759, #b11212d1);
  box-shadow: none;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
}
.aboutCat {
  margin-top: 96px;
  text-align: center;
  margin-bottom: 74px;
}
.aboutCat > img {
  width: 134px;
}
.aboutCat > h1 {
  font-size: 56px;
  font-family: "Poppins";
}
.aboutCat > h1 > span {
  color: #c2341c;
}
/*
.................................
........................
............
*/
/* history style*/
.our-history {
  background-color: rgba(112, 112, 112, 0.1);
  display: flex;

  padding-top: 60px;
}
.our-history > .container {
  display: flex;
}
.history {
  padding: 0px 0px 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}
.history > h2 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  margin-bottom: 24px;
  margin-top: 0;
}
.history > h2::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0px;
  border-radius: 10px;
  width: 168px;
  height: 6px;
  background-color: rgba(194, 52, 28, 1);
}
.history > p {
  width: 760px;
  font-size: 20px;
}

.our-history img {
  height: 240px;
  transform: translateY(-12px);
  margin-left: 150px;
}
/*
................................
.........................
...................*/
/*
mission & vision style
*/
.ourMV {
  display: flex;

  padding-top: 68px;
}
.ourMV > .container {
  display: flex;
}
.MV {
  padding: 0px 0px 0 158px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}
.MV > h2 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  margin-bottom: 24px;
  margin-top: 0;
}
.MV > h2::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0px;
  border-radius: 10px;
  width: 168px;
  height: 6px;
  background-color: rgba(194, 52, 28, 1);
}
.MV > p {
  width: 760px;
  font-size: 20px;
}

.ourMV img {
  height: 240px;
  transform: translateY(-12px);
}
/*..............................................
.................................
............................
*/
.hierarchy {
  background-color: rgba(112, 112, 112, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.hierarchy > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hierarchy > .container > h2 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  margin-bottom: 92px;
}
.hierarchy > .container > h2::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 60px;
  border-radius: 10px;
  width: 148px;
  height: 6px;
  background-color: rgba(194, 52, 28, 1);
}
.founders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 182px;
  margin-bottom: 146px;
}
.founder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}
.founder > .name {
  font-size: 32px;
  text-align: center;
}
.founder > .position {
  font-size: 20px;
  color: rgba(72, 72, 72, 0.75);
}
.fig-img {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 20px;*/
}
.abs-border {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 6px solid #484848;
  border-radius: 20px;
  z-index: 10;
}
.fig-img > img {
  width: 196px;
  height: 178px;
  border-radius: 20px;
  transition: all 0.25s;
}
.fig-contacts {
  background-color: rgba(255, 255, 255, 0.55);
  position: absolute;
  width: 94%;
  bottom: -44px;
  border-radius: 0 0 11px 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 15;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.fig-contacts .fab {
  margin-right: 12px;
  color: rgba(72, 72, 72, 1);
}
.founder:hover .abs-border {
  border: 6px solid #c2341c;
}
.founder:hover .fig-contacts {
  bottom: 6px;
  opacity: 1;
}
.fab:hover {
  color: rgba(194, 52, 28, 1);
}
/*
....................................
...........................
....................
*/

/* board style*/
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  margin-bottom: 82px;
}
.board > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board > .container > h2 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  margin-top: 0;
  margin-bottom: 76px;
}
.board > .container > h2::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 44px;
  border-radius: 10px;
  width: 148px;
  height: 6px;
  background-color: rgba(194, 52, 28, 1);
}
.cor-vice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 56px;
  gap: 0 234px;
}
.b-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}
.b-member .abs-border {
  border: 4px solid #484848;
}
.b-member > .name {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}
.b-member > .position {
  font-size: 20px;
  color: rgba(72, 72, 72, 0.75);
}

.b-member:hover .fig-contacts {
  width: 96%;
  bottom: 4px;
  opacity: 1;
  border-radius: 0 0 16px 17px;
}
.b-member:hover .abs-border {
  border: 4px solid #c2341c;
}
.b-member:hover .fig-contacts .fab:hover {
  color: rgba(194, 52, 28, 1);
}
.leaders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 56px;
}
/*
..........................................
...............................
......................
*/

footer {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.footer1 {
  /* background-color: #1c1c1c;
  background-image: linear-gradient(270deg, rgb(99, 12, 12), rgb(0, 0, 0)); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  margin-top: 34px;
}
.footer2 {
  width: 100%;
  height: 26px;
  text-align: center;
  background-color: #c2341c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer2 > p {
  font-size: 12px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.info > * {
  margin-bottom: 24px;
}
.info > img {
  width: 198px;
}
.info-location img {
  width: 16px;
}

.contact-us > * {
  margin-right: 12px;
}
.contact-us > a {
  text-decoration: none;
}
.contact-us > a > img {
  height: 16px;
}
.news-letter {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.news-letter > p {
  margin-bottom: 7px;
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 700;
}
.news-letter > .adrees {
  font-size: 14px;
  color: #ffffffb8;
}
.blog-tags > p {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.annual-partner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.annual-partner > p {
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 500;
  margin-bottom: 7px;
}
.annual-partner > .partner {
  transform: translateX(-10px);
}
.annual-partner img {
  display: inline-block;
  margin-left: 16px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.activee {
  color: #c2341c;
}
