@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*layover style*/
.lay1 {
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 1);
  height: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  position: absolute;
  display: none;
  transform: translateX(-120%);
  transform: translateY(-120%);
  transition: all 0.25s ease-in-out;
}
.active-layover {
  display: flex;
  transform: translateX(0);
  transform: translateY(0);
  transition: all 0.25s ease-in-out;
}
.lay1 > .exit {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}
.lay2 {
  width: 1046px;
  display: flex;
  margin-top: 86px;
}
.lay2 > .NL-img > img {
  width: 520px;
}
.lay2 > .NL-sub {
  display: flex;
  flex-direction: column;
  margin-left: -8px;
}
.lay2 > .NL-sub > h4 {
  font-size: 50px;
  /* line-height: 42px; */
}
.lay2 > .NL-sub > p {
  font-size: 26px;
  margin-bottom: 28px;
}
.NL-sub > form {
  display: flex;
  flex-direction: column;
}
.NL-sub > form > * {
  width: 448px;
  height: 50px;
  color: #484848;
  padding: 8px 16px;
  margin-bottom: 20px;
  border-radius: 6px;
}
.NL-sub > form > input::placeholder {
  font-size: 20px;
  color: #484848;
}
.NL-sub > form > input[type="submit"] {
  background-color: #c2341c;
  border: none;
  color: #fff;
  font-size: 20px;
}
/* modal style */

.register > button {
  background-color: transparent;
  box-shadow: none;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  padding: 8px;
  margin-left: 20px;
  cursor: pointer;
}

.btns {
  display: flex;
}

.bg-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.bg-modal.open {
  opacity: 1;
  pointer-events: all;
}

.close-btn {
  cursor: pointer;
}

.modal {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #222223;
  width: 628px;
  height: 700px;
  padding: 20px 50px;
  border-radius: 5px;
  position: relative;
}

.modal.hide {
  display: none;
}

.modal .text {
  font-size: 0.8em;
}
.modal p {
  margin-bottom: 4px;
}
.modal .text span {
  color: red;
}
.modal img {
  width: 200px;
}
.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal textarea {
  resize: none;
  width: 400px;
  margin-bottom: 10px;
  outline: none;
  font-size: 1rem;
}

.modal form input {
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal form input:enabled {
  outline: none;
}

.modal form select {
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal form select:enabled {
  outline: none;
}

.form-btn {
  text-align: right;
}

.form-btn button {
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 150px;
  font-size: 0.8rem;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-weight: bold;
}

.modal.three h2 {
  margin: -128px;
}
/*................................................
.............................

/**
header style */
body {
  font-family: "Poppins";
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  position: sticky;
  z-index: 1500;
  top: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #1c1c1c;
}
nav > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.logo > img {
  width: 108px;
  height: 40px;
}
.nav-bar > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 664px;
  height: 24px;
  justify-content: space-between;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.nav-bar > ul > li {
  text-transform: capitalize;
  transition: color 0.25s;
}
.nav-bar > ul > li > a {
  color: inherit;
  text-decoration: none;
}
.nav-bar > ul > li:hover,
.nav-bar > ul > li:active {
  color: rgba(194, 52, 28, 1);
  cursor: pointer;
}
.news-letter > button {
  background-image: linear-gradient(180deg, #08070759, #b11212d1);
  box-shadow: none;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
}
.aboutCat {
  margin-top: 96px;
  text-align: center;
  margin-bottom: 74px;
}
.aboutCat > img {
  width: 134px;
}
.aboutCat > h1 {
  font-size: 56px;
  font-family: "Poppins";
}
.aboutCat > h1 > span {
  color: #c2341c;
}
.btn-register {
  display: none;
}
/* ---------- */

.event {
  margin-bottom: 24px;
  display: flex;
  width: 1004px;
  background-color: rgba(112, 112, 112, 0.1);
}
.event > .event-img {
  margin: 12px 0 12px 12px;
}
.event > .event-img > img {
  width: 374px;
  height: 260px;
}
.event > .event-description {
  margin-top: 12px;
  margin-left: 28px;
  margin-right: 70px;
}
.event > .event-description > h3 {
  font-size: 32px;
  font-family: "Raleway";
  font-weight: bold;
}
.event > .event-description > .add-data {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: bolder;
}
.event-date {
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
}
.event-date > img,
.event-location > img {
  width: 16px;
  height: 16px;
}
.event-date > span {
  font-size: 10px;
  color: #c2341c;
  margin-left: 6px;
}
.event-location {
  display: inline-flex;
  align-items: center;
  margin-left: 36px;
}

.event-location > span {
  font-size: 10px;
  color: #c2341c;
  margin-left: 6px;
}
.description {
  font-size: 16px;

  margin-bottom: 16px;
}
.event-description > button {
  font-size: 16px;
  color: #c2341c;
  margin-bottom: 16px;
  background-color: transparent;
  padding: 10px 16px;
  border: 2px solid #c2341c;
  border-radius: 6px;
  transition: all 0.25s;
}
.event-description > button:hover {
  color: #fff;
  background-color: rgb(194, 52, 28);
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 90px;
}

.events .event {
  margin: 15px;
}

.slider-container .events {
  display: none;
  z-index: 1;
}

.slider-container .events.active {
  display: flex;
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  margin-bottom: 45px;
}

.slider-controls .prev,
.slider-controls .next {
  background-color: rgb(194, 52, 28);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 15px;
  user-select: none;
}

.slider-controls .prev.disabled,
.slider-controls .next.disabled {
  background-color: rgba(194, 53, 28, 0.6);
  pointer-events: none;
}

.slider-controls .indicators ul {
  list-style: none;
  margin: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controls .indicators ul li {
  background-color: rgba(112, 112, 112, 0.1);
  color: rgb(194, 52, 28);
  padding: 15px;
  border-radius: 4px;
  margin: 0 3px;
  line-height: 28px;
  cursor: pointer;
}
.slider-controls .indicators ul li.active {
  background-color: rgb(194, 52, 28);
  color: #fff;
}

footer {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.footer1 {
  /* background-color: #1c1c1c;
  background-image: linear-gradient(270deg, rgb(99, 12, 12), rgb(0, 0, 0)); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  margin-top: 34px;
}
.footer2 {
  width: 100%;
  height: 26px;
  text-align: center;
  background-color: #c2341c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer2 > p {
  font-size: 12px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.info > * {
  margin-bottom: 24px;
}
.info > img {
  width: 198px;
}
.info-location img {
  width: 16px;
}

.contact-us > * {
  margin-right: 12px;
}
.contact-us > a {
  text-decoration: none;
}
.contact-us > a > img {
  height: 16px;
}
.news-letter {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.news-letter > p {
  margin-bottom: 7px;
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 700;
}
.news-letter > .adrees {
  font-size: 14px;
  color: #ffffffb8;
}
.blog-tags > p {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.annual-partner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.annual-partner > p {
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 500;
  margin-bottom: 7px;
}
.annual-partner > .partner {
  transform: translateX(-10px);
}
.annual-partner img {
  display: inline-block;
  margin-left: 16px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
